<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<!--inline styling-->
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>


<!--page title banner-->
<header>
    <h1 class="headline">Update My Crates</h1>
</header>

<body class="body">
    <!--new crate form-->
    <div class="form-container">
        <form [formGroup]="form-container"
        (ngSubmit)="onSubmit()" f="ngForm">
            <div id="album-info">
                <div class="form-group">

                    <!--input for title

                    <input type="text" id="title" placeholder="title" class="form-control" ngModel name="title"
                        title="ngModel" required title>
                    <span class="help-block" *ngIf="!title.valid && title.touched">please enter a valid title,
                        Homie.</span>-->
                    <input type="text" formControlName="title" placeHolder= "title" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && this.form-container.controls.title.errors }"/>
                <div *ngIf="submitted && this.form-container.controls.title.errors" class="invalid-feedback">
                    <div *ngIf="this.form-container.controls.title.errors.required">You gotta enter a title, Homie.</div>
                </div>

                    <br>

                    <!-- input for artist-->

                    <input type="text" id="artist" placeholder="artist" class="form-control" ngModel name="artist"
                        artist="ngModel" required artist>
                    <span class="help-block" *ngIf="!artist.valid && artist.touched">please enter a valid artist,
                        Homie.</span>

                    <!--inputs for label, year of release, catalog number and genre-->
                    <input type="text" placeholder="label" class="form-control" ngModel name="label" label="ngModel">


                    <input type="text" placeholder="year released" class="form-control" ngModel name="yearReleased" yearReleased="ngModel">


                    <input type="text" placeholder="catalog number" class="form-control" ngModel name="catalogNumber" catalogNumber="ngModel">


                    <input type="text" placeholder="genre" class="form-control" ngModel name="genre" genre="ngModel">


                    <!--submit and reset buttons-->
                    <div class="button-row" element="button-row">
                        <button type="submit" class="btn btn-primary" [routerLink]="['/show-crates']"
                        (click)="changeData()" [disabled]="!f.valid" >Save to My Crates</button>
                        <button type="reset" class="btn btn-reset">Reset Form</button>
                    </div>


                </div>
            </div>
        </form>
    </div>
</body>