<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>


<!--banner-->
<header>
    <h1 class="headline">Update My Crates</h1>
</header>



<body>
    <!--crate form-->
    
   

    <div class="inputs" formGroupName="albumData" novalidate>
        <form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
            <!--inputs-->
            <input type="text" placeholder="Title" formControlName="title" />
            <span *ngIf="!albumForm.get('title').valid && albumForm.get('title').touched">Please enter Album Title</span>
            <input type="text" placeholder="Artist" formControlName="artist" />
            <span *ngIf="!albumForm.get('artist').valid && albumForm.get('artist').touched">Please enter Artist</span>
            <input type="text" placeholder="Label" formControlName="label" />
            <input type="text" placeholder="Year Released" formControlName="yearReleased" />
            <input type="text" placeholder="Catalog Number" formControlName="catalogNumber" />
            <input type="text" formControlName="Genre" placeholder="genre" />
            
            <!--buttons-->
            <div class="button-row">
                <button type="submit" class="btn btn-primary"  id=test [disabled]="!albumForm.valid" [routerLink]="['show-crates']" (click)="changeData()">
                    Add to Crates
                </button>


            </div>
        </form>
    </div>
</body>