h1{
    padding-bottom: 10px;
    font: 150%;
    font-family:monospace;
    text-align:auto;
    color:#000066;
}
p{
  color:purple;
  background-color:#ffffcc;
  text-align:auto;
  font-family:monospace;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family:monospace;
  }
.inputs{
    background-color:#ffffcc;
}
.notes{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    font-family:monospace;

}

.body{
  width: 100%;
  margin: 0;
  position: relative;
  background-color:#ccffff;

}

  .genre {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
.genre:hover  {
    display: block;
  }
  


.buttons-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


.btn-primary {
  margin: 5px;
  padding-top:5px;
  color:rgb(4, 4, 36);
  border-radius: 1em;
  background-color:#ff9999;
  font-family:Lobster;
  padding: 16px 25px;
  margin: 15px auto;
  border: none;
  
  
}
.btn-primary:hover{
  color:purple;
  
}

  
