<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>


<!--banner-->
<header>
    <h1 class="headline">Wish List</h1>
</header>

<body class="body">
    <!--crate form-->

    <div [formGroup]="wishlistData">
        <div class="form-group" formGroupName="" novalidate>
            <p>a place to take notes on to-be-obtained music</p>
        </div>
        <form [formGroup]="WishlistForm" (ngSubmit)="onSubmit()">
            <!--inputs-->
            <div class="form-container">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                        <!--input for title-->

                        <input type="text" id="title" placeholder="title" class="form-control" ngModel name="title"
                            #title="ngModel" required>
                        <span class="help-block" *ngIf="!title.Valid && title.touched">please enter a valid title,
                            Homie.</span>


                        <br>

                        <!-- input for artist-->

                        <input type="text" id="artist" placeholder="artist" class="form-control" ngModel name="artist"
                            #artist="ngModel" required>
                        <span class="help-block" *ngIf="!artist.Valid && artist.touched">please enter a valid artist,
                            Homie.</span>

                        <textarea class="comment-box" type="textarea" cols="30" rows="10" name="comments" rows="3"
                            cols="30">What's the word, bird?</textarea>
                        <!--buttons-->
                        <div class="button-row">
                            <button type="submit" class="btn btn-primary" [disabled]="!albumForm.valid"
                                [routerLink]="['/show-wishlist']">Save to Wishlist</button>
                            <button type="reset" class="btn btn-reset">Reset Form</button>
                        </div>
                    </div>

                </form>
            </div>
        </form>
    </div>
</body>