<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
    }
    .ul{
        font-family:Lobster;
    }

    .page-layout {
       background: linear-gradient(45deg,#cc99ff, #CCFFFF, #FFFFCC, #ff9999);
    } 
    .body {
        background: #ffffcc;
    }
    
</style>
<body class="container">
<div class= "ul">
    <ul>
        <li><a class=“nav-link” [routerLink]="'/home-page'" routerLinkActive=“active”>Home</a></li>
        <li><a class=“nav-link” [routerLink]="'/crates'" routerLinkActive=“active”>Add an Album</a></li>
        <li><a class=“nav-link” [routerLink]="'/show-crates'" routerLinkActive=“active”>Show My Crates</a></li>
        <li><a class=“nav-link” [routerLink]="'wishlist'" routerLinkActive=“active”>Add to Wishlist</a></li> 
        <li><a class=“nav-link” [routerLink]="'/show-wishlist'" routerLinkActive=“active”>Show My Wishlist</a></li> 
        
    </ul>
</div>
</body>
<router-outlet></router-outlet>