<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>

<!--banner-->
    <header>
        <h1 class="headline">My Crates</h1>
    </header>
<body class="body">
    <p>this is where your crates will show up when you add to them!</p>
    <label class= "label">Title:
   <p>{{data.title }}</p></label>
   <label class= "label">Artist:
   <p>{{data.artist}}</p></label>
   <label class= "label">Genre:
   <p>{{data.genre | uppercase}}</p></label>
   <label class= "label">Label:
   <p>{{data.label}}</p></label>
   <label class= "label">Year Realeased:
   <p>{{data.yearRealeased}}</p></label>
   <label class= "label">Catalog Number:
   <p>{{data.catalogNumber}}</p></label>
    
</body>