<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>

<!--banner-->
    <header>
        <h1 class="headline">My Crates</h1>
    </header>
<body>
    <pre>{{json}}</pre>
    <div class="buttons container>">
        <button type="primary" id=test class="btn btn-primary" routerLink="['crates']">Add an Album</button>
    </div>
</body>