<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
        background: linear-gradient(45deg, #cc66ff, #CCFFFF, #FFFFCC, #ff9999);
    }
</style>

<!--banner-->
    <header>
        <h1 class="headline">My Crates</h1>
    </header>
<body class="body">
    <p>this is where your crates will show up when you add to them!</p>
    <p>
    <pre>{{data.artist}}</pre>
    <pre> {{data.title}}</pre>
    <pre>{{data.yearReleased}}</pre>
    <pre> {{data.genre}}</pre>
    <pre> {{data.label}}</pre>
    <pre> {{data.catalogNumber}}</pre>
</body>