<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
    }
    .ul{
        font-family:Lobster;
    }

    .page-layout {
       background: linear-gradient(45deg,#cc99ff, #CCFFFF, #FFFFCC, #ff9999);
    } 
    .body {
        background: #ffffcc;
    }
    
</style>


  
<body class="page-layout">
     <!-- banner-->
    <h1 class="headline">Welcome to Virtual Crates!</h1>

    <!--greeting-->
    <p>This is an app to help store and access information about your record collection </p>
</body>


   
    <!--<div class= "buttons container>">
    
        <button type="button" class="btn btn-primary" [routerLink]="['show-crates']">Show My Crates</button>
    
        <button type="button" class="btn btn-primary" [routerLink]="['show-wishlist']">Show My Wishlist</button>
    </div>
</body>-->

