<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    .headline {
        font-family: Lobster;
    }

    .page-layout {
       background: linear-gradient(45deg,#cc99ff, #CCFFFF, #FFFFCC, #ff9999);
    } 
    .body {
        background: #ffffcc;
    }
    
</style>

<header class="page-layout">
    <!-- banner-->
    <h1 class="headline">Welcome to Virtual Crates!</h1>
    <!--greeting-->
    <p>This is an app to help store and access information about your record collection </p>
</header>
<body class="body">
    <div class= "buttons container>">
    <!--button to crates-->
        <button type="button" class="btn btn-primary" [routerLink]="['crates']">View My Crates</button>
    <!--button to wishlist-->
        <button type="button" class="btn btn-primary" [routerLink]="['wishlist']"> Wishlist</button>
    </div>
</body>

